.row:after, .row:before {
    content: " ";
    display: table;
}
.row:after {
    clear: both;
}
*:after, *:before {
    box-sizing: border-box;
}
#filterfrm .row {
    margin: 0 auto;
    width: 55%;
}
.col-sm-6 {
    width: 40%;
    float: left;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}
input, button, select, textarea {
    color: #333333;
    font-family: "Open Sans",Verdana,Tahoma,serif;
    font-size: 16px;
    line-height: 1.42857;
}
label {
    display: inline-block;
    font-weight: 700;
    margin-bottom: 5px;
    max-width: 100%;
}
.form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    line-height: 1.42857;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
.text-center {
    text-align: center !important;
}
p {
    margin: 0 0 10px;
}
.dataTables_wrapper {
    background-color: #e6ecef;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.9em;
}
.dataTables_wrapper .dataTables_info {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #006587;
    border-color: -moz-use-text-color -moz-use-text-color #fff;
    border-image: none;
    border-radius: 4px 4px 0 0;
    border-style: none none solid;
    border-width: 0 0 1px;
    color: #fff;
    font-size: 0.9em;
    padding: 9px 10px;
    text-align: left !important;
    letter-spacing: 0.5px;
}
.dataTables_wrapper {
    font-size: 0.9em;
}
.dataTables_wrapper table.table-list {
    margin-bottom: 6px !important;
    margin-top: 0 !important;
}
.table {
    margin-bottom: 20px;
    max-width: 100%;
    width: 100%;
}
table {
    background-color: transparent;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.table-list > tbody > tr:nth-child(2n+1) > td, .table-list > tbody > tr:nth-child(2n+1) > th {
    background-color: #fafafa;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    border-top: 1px solid #ddd;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
}
table.table-list th {
    text-align: center;
}
th {
    text-align: left;
}
td, th {
    padding: 0;
}
table.table-list tbody td, table.table-list tbody td {
    padding: 5px 10px;
    vertical-align: middle;
}
.table-list > tbody > tr > td {
    background-color: #fff;
    font-size: 12px;
}
div.header-lined h1 {
    border-bottom: 1px solid #ccc;
    font-weight: 400;
    margin-bottom: 15px;
    margin-top: 0;
    padding: 6px 0;
    font-size: 26px;
    line-height: 1.1;
    text-shadow: none;
    letter-spacing: 0.5px;
}
.btn-primary {
    background-color: #337ab7;
    border-color: #2e6da4;
    color: #fff;
}
.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open > .dropdown-toggle.btn-primary {
    background-color: #286090;
    border-color: #204d74;
    color: #fff;
}
.btn-default {
    background-color: #fff;
    border-color: #ccc;
    color: #333;
}